body{
    background-image: url("http://cs-server.usc.edu:45678/hw/hw8/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
div#Header{
    margin-top: 84px;
    margin-bottom: 32px;
}
div#DivContentID{
    background: rgba(79,79,79,0.44);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
div#DivStreetAddress,#DivCity,#DivState{
    padding-left: 1px;
    padding-right: 1px;
}
label#StreetAddressID,#CityID,#StateID,#DegreeID{
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}
span#SpanStreetAddress,#SpanCity,#SpanState{
    margin-top: 0px;
    font-size: 12px;
    font-weight: bold;
}
div#DegreeButtonID{
    color: white;
    padding-top: 15px;
    padding-left: 6px;
}
div#DivTwoButtonsID{
    padding-top: 28px;
    padding-left: 0px;
    padding-right: 0px;
}
div#DivSearchClearID{
    margin-left: 0px;
    margin-right: 0px;
}
button#ClearButtonID{
    width: 50%;
    text-align: justify;
    height: 32%;
}
span#ClearButtonTextID{
    margin-right: 22px;
}
div#DivLogoPartID{
    margin-left: 4px;
    margin-right: 0px;
    padding-bottom: 15px;
}
div#DivPoweredByID{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 11px;
    /*text-align: right;*/
}
p#PoweredID{
    font-size: small;
    color: white;
    padding-top: 27px;
}
img#ForecastLogoID{
    padding-top: 5px;
    width: 107px;
    height: 65px;
}

/*Table part is above*/
div#WhiteLineID{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}



